body{
    background:white;
    color:#0f3d35;
    font-family: Georgia, serif;
}
.bg-custom{
    background:#efe6df;
}
.hero-title{
    font-size:70px;
    font-weight:bold;
    line-height:1.2;
}
.gallery-img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:15px;
}
.big-img{
    height:340px;
}
.small-img{
    height:260px;
}
.menu-title{
    font-size:60px;
    margin-top:10px;
}
.menu-icon{
    font-size:30px;
}
.menu-item{
    display:flex;
    align-items:center;
    gap:15px;
    padding:20px 0;
    border-bottom:1px dashed #aaa;
}
.menu-item img{
    width:70px;
    height:70px;
    object-fit:cover;
    border-radius:10px;
    overflow: hidden;
    transition: all 0.2s ease-out;
}
.menu-item:hover img {
    transform: scale(1.1);
}
.menu-item h5{
    margin:0;
    font-size:22px;
}
.menu-item p{
    margin:0;
    color:#567;
    font-size:14px;
}
.menu-item span{
    margin-left:auto;
    font-size:35px;
    color:#0f3d35;
}
.btn-book{
    background:#117a6a;
    color:white;
    border-radius:30px;
    padding:12px 35px;
}
.btn-book:hover{
    background:#0d6658;
    color:white;
}
.culture-title{
    font-size:60px;
    color:#0f3d35;
}
.culture-img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:15px;
}
.culture-big{
    height:250px;
}
.testimonial-section{
    background:#f4ab2c;
    padding:80px 0;
}
.testimonial-text{
    font-size:28px;
    line-height:1.8;
    color:#2c2c2c;
}
.testimonial-avatar{
    width:60px;
    height:60px;
    border-radius:50%;
    object-fit:cover;
}
.customer-image{
    width:350px;
    height:350px;
    object-fit:cover;
    border-radius:30px;
}
.slider-btn{
    width:45px;
    height:45px;
    border-radius:50%;
    border:none;
    background:white;
}
.slider-btn.active{
    background:#0f6a5a;
    color:white;
}
.footer-section{
    background:#efe6df;
    padding:80px 0 20px;
}
.footer-section h4{
    margin-bottom:25px;
    color:#0f3d35;
}
.footer-links{
    list-style:none;
    padding:0;
}
.footer-links li{
    margin-bottom:12px;
    cursor:pointer;
}
.footer-links li:hover{
    color:#0f6a5a;
}
@media(max-width:768px){
    .hero-title{
        font-size:42px;
    }
    .menu-title{
        font-size:40px;
    }
    .culture-title{
        font-size:40px;
    }
    .testimonial-text{
        font-size:20px;
    }
    .customer-image{
        width:100%;
        height:auto;
        margin-top:30px;
    }
}
.hero-title{
    animation:fadeIn 1s ease;
}
@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
html{
    scroll-behavior:smooth;
}
.dark-mode{
background:#121212;
color:#fff;
}
.dark-mode .navbar,
.dark-mode .footer-section,
.dark-mode .cover,
.dark-mode .card {
    background:#1e1e1e !important;
    color:#fff;
}